In [27]:
import pandas as pd
import numpy as np

LOAD CSV FILE

In [28]:
df=pd.read_csv("spam_dataset.csv")

In [29]:
df.head()

                                     message_content  is_spam
0  Hello Lonnie,\n\nJust wanted to touch base reg...        0
1  Congratulations, you've won a prize! Call us n...        1
2  You have been pre-approved for a credit card w...        1
3  Limited time offer, act now! Only a few spots ...        1
4  Your loan has been approved! Transfer funds to...        1

In [32]:
df["is_spam"] = df["is_spam"].replace({0:'spam' , 1:'not_spam' })

In [33]:
df.head()

                                     message_content   is_spam
0  Hello Lonnie,\n\nJust wanted to touch base reg...  not_spam
1  Congratulations, you've won a prize! Call us n...      spam
2  You have been pre-approved for a credit card w...      spam
3  Limited time offer, act now! Only a few spots ...      spam
4  Your loan has been approved! Transfer funds to...      spam

In [35]:
df.isnull().sum()

message_content    0
is_spam            0
dtype: int64

In [41]:
df.shape

(1000, 2)

In [39]:
df.duplicated().sum()

np.int64(323)

In [40]:
df.drop_duplicates()

                                       message_content   is_spam
0    Hello Lonnie,\n\nJust wanted to touch base reg...  not_spam
1    Congratulations, you've won a prize! Call us n...      spam
2    You have been pre-approved for a credit card w...      spam
3    Limited time offer, act now! Only a few spots ...      spam
4    Your loan has been approved! Transfer funds to...      spam
..                                                 ...       ...
993  Hi Brandon,\n\nI hope this message finds you w...  not_spam
994  Dear Wesley,\n\nI wanted to let you know about...  not_spam
995  Hello Virginia,\n\nIt was great to catch up wi...  not_spam
997  Hot singles in your area want to chat! Contact...      spam
999  Dear Brian,\n\nI wanted to let you know about ...  not_spam

[677 rows x 2 columns]

SPLIT DATASET

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X=df["message_content"]
y=df["is_spam"]

In [44]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

CONVERT MESSAGE IN COUNTVECTOR

In [51]:
cv=CountVectorizer(stop_words='english')
content=cv.fit_transform(X_train)

In [45]:
from sklearn.linear_model import LogisticRegression

In [49]:
model=LogisticRegression()

In [53]:
log_model=model.fit(content,y_train)

In [57]:
cv_test=cv.transform(X_test)

In [60]:
pred=log_model.predict(cv_test)

MODEL EVALUTION SCORE

In [73]:
print(log_model.score(cv_test,y_test)*100)

100.0

TEST MANUALLY

In [90]:

sample_message = ["Dear Students, this is a reminder that the semester exams will begin from July 10th. Please collect your hall tickets from the office."]

sample_vector = cv.transform(sample_message)  

prediction = log_model.predict(sample_vector)


print("Prediction:", prediction)

Prediction: ['not_spam']