In [2183]:
import pandas as pd
import numpy as np

READ CSV FILE

In [2184]:
df=pd.read_csv("Admission_Predict.csv")

In [2185]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [2186]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [2187]:
df.duplicated().sum()

np.int64(0)

In [2188]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [2189]:
df["Chance of Admit "]=df["Chance of Admit "].apply(lambda x: "admission_granted"  if x>=0.73 else "admission not granted")

In [2190]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,admission_granted
1,2,324,107,4,4.0,4.5,8.87,1,admission_granted
2,3,316,104,3,3.0,3.5,8.00,1,admission not granted
3,4,322,110,3,3.5,2.5,8.67,1,admission_granted
4,5,314,103,2,2.0,3.0,8.21,0,admission not granted

SPLIT AND TRAINNING

In [2191]:
from sklearn.model_selection import train_test_split

In [2192]:
X=df.drop(columns=["Chance of Admit ","Serial No."])

In [2193]:
y=df["Chance of Admit "]

In [2194]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [2195]:
from sklearn.linear_model import LogisticRegression

In [2196]:
model=LogisticRegression()

In [2197]:
df.dtypes

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit       object
dtype: object

In [2198]:
log_model=model.fit(X_train,y_train)

c:\Users\vinot\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [2199]:
y_pred=log_model.predict(X_test)

ACCURACY SCORE

In [2203]:
print(log_model.score(X_test,y_test)*100 ,"%")

92.5 %

TESTING BY PROVIDING INPUT

In [2208]:
student = [[322, 110, 3, 3.5, 2.5, 8.67, 1]]
prediction = log_model.predict(student)
print(prediction)

['admission_granted']

c:\Users\vinot\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(